.body {
	margin: 0px !important;
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
	font-weight: bold;
	font-size: 15px;
}
.conteiner-form{
	height: 100vh;
	background-color: #010318;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.conteiner-form .form {
	width: 500px;
    position:fixed;
	top:12%;
	left:37%;
	}
label {
	color: #ffffff;
	display: grid;
    padding-top: 10px;

}
.form-field {
	border: 2px solid #ffffff;
	height: 35px;
	width: 457px;
	border-radius: 5px;
	background-color: #003d3e;
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
	font-weight: bold;
	font-size: 25px;
	color: #ffffff;
	padding: 0 20px;
    margin-top: 15px;
	float: right;
}
.form-field-select {
	border: 2px solid #ffffff;
	height: 35px;
	width: 500px;
	border-radius: 5px;
	background-color: #003d3e;
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
	font-weight: bold;
	font-size: 25px;
	color: #ffffff;
	padding: 0 20px;
    margin-top: 15px;
	float: right;
}

.btn-submit {
	border: 2px solid #ffffff;
	height: 50px;
	width: 500px;
	border-radius: 5px;
	background-color: #D0021B;
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #ffffff;
	margin-top: 20px;
	float: right;
	padding: 0 20px;
}
.btn-submit:hover {
	background-color: #b10116;
}

#table {
	/*position:absolute;*/
	top:120px;
	left:40%;
	display: flex;
}

#table table{
	border: 1px solid #ffffff;
	text-align: center;
	border-radius: 2px;
	margin: 0 auto;
}

table td {
	height: 30px;
	min-width: 30px;
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
	font-weight: bold;
	font-size: 15px;
	opacity: 1;
	background: lightcyan;
	border: 1px solid #000;
	color: #000;
	padding: 0;
}

#error {
	display: none;
	position:fixed;
	top:37%;
	left:33%;
}

.title h2 {
	color: #ffffff;
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
	font-weight: bold;
	font-size: 35px;
	text-align: center;
	margin: 0;
	padding-top: 20px;
}

.title p {
	color: #ffffff;
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
	font-weight: bold;
	font-size: 20px;
	text-align: center;				
}

.response {
	background-color: #010318;
	padding-top: 20px;
}
.error p {
	color: #D0021B;
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
	font-weight: 100;
	font-size: 12px;
	text-align: justify;
    padding-top: 10px;
    margin: 0;
}

.nex-step {
	position: fixed;
	bottom: 25px;
	left: 37%;
	display: none;
}

.continue {
	border: 2px solid #ffffff;
	width: 497px;
	border-radius: 5px;
	background-color: #D0021B;
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #ffffff;
	padding: 10px 0px;
	float: right;
	text-align: center;
	text-decoration: none;
}
.continue:hover {
	background-color: #b10116;
}

.green-bc {
	background-color: #008000;
}

.lime-bc {
	background-color: #26DE45;
}